<div class="auth-page">
  <div class="auth-card">

    <h1>Connexion</h1>

    <p>
      Connectez-vous à votre espace TalentScope.
    </p>

    <form (ngSubmit)="onLogin()">

      <label for="email">
        Email
      </label>

      <input
        id="email"
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="exemple@email.com"
        autocomplete="email"
      >

      <label for="password">
        Mot de passe
      </label>

      <input
        id="password"
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Mot de passe"
        autocomplete="current-password"
      >

      <div class="forgot-password-link">
        <a routerLink="/forgot-password">
          Mot de passe oublié ?
        </a>
      </div>

      <p
        class="error"
        *ngIf="errorMessage"
      >
        {{ errorMessage }}
      </p>

      <button
        type="submit"
        [disabled]="loading || googleLoading"
      >
        {{
          loading
            ? 'Connexion...'
            : 'Se connecter'
        }}
      </button>

    </form>

    <div class="separator">
      <span>ou</span>
    </div>

    <div class="google-section">

      <div
        #googleButton
        class="google-button">
      </div>

      <p
        class="google-loading"
        *ngIf="googleLoading"
      >
        Connexion avec Google en cours...
      </p>

    </div>

    <div class="auth-footer">
      Pas encore de compte ?

      <a routerLink="/register">
        Créer un compte
      </a>
    </div>

  </div>
</div>